{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Staff Home</title>

    <!-- Bootstrap -->
    <link href="/static/HealthNetApp/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/HealthNetApp/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="background-color:powderblue;">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../nursehome/">HealthNet</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../nursehome/">Home</a></li>       
            <li class="active"><a href="../nurseprofile/">Profile</a></li>
			<li><a href="#">Appointment List</a></li>
			<li><a href="../logout/">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	
	<div class="container">
    <div id="content" class="clearfix">
      <div id="docphoto"><img src=" /static/HealthNetApp/images/doc_avatar.png" alt="default doc avatar"></div>
      <h1>Profile</h1>
	  
			<p>Name: {{ user.first_name }} {{user.last_name}}</p>
			<p>Gender: {{ user.profile.gender }} </p>
			<p>Age: {{user.profile.age}}</p>
			<p>Phone Number: {{ user.profile.phone }} </p>
			<p>Email: {{user.email}}</p>
			
          <h4><a href="../editnurseprofile/" class="sel">Edit Profile</a></h4>
    
    </div><!-- @end #content -->

		
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/HealthNetApp/js/bootstrap.min.js"></script>
  </body>
</html>